body{
    font-family: sans-serif;
    margin: 0;
    background-color: #ffe8ea;
}

pre{
    overflow: auto;
}

.pd-4{
    padding: 16px;
}

.mt-4{
    margin-top: 16px;
}

.flex-8{
    display: flex;
    gap: 8px;
}

.w-100{
    width: 100%
}