:root{
    --amasugar-white: #fafafa;
    --amasugar-violet: #e2c6ff;
    --amasugar-pink: #ffd1ff;
    --amasugar-red: #ffc6c6;
    --amasugar-orange: #ffddbc;
    --amasugar-yellow: #ffffc6;
    --amasugar-green: #c6ffc6;
    --amasugar-blue: #c6e2ff;
}