.toast{
    z-index: calc(infinity);
    position: fixed;
    right: 0;

    animation: toasted 1.5s ease-out 0s 2 alternate;
    animation-fill-mode: forwards;
}

@keyframes toasted{

    0%{
        top: -100%;
    }
    
    20%{
        top: 48px;
    }

    30%{
        top: 24px;
        /* bottom: calc(100vh - 100%); */
    }
    100%{
        top: 24px;
        /* bottom: calc(100vh - 100%); */
    }
    
}